<div id="about_me_page" class="about-page-container">
    <h2 id="about_me_title">About Me</h2>

    <img id="nicolas_conaway_img" src="../../../../assets/images/nicolas_conaway (2).jpg" alt="Image of Nicolas Conaway" />

    <div id="about_me_description">
        <p>I am a UI engineer based in The United States. I graduated from a coding academy called Road to Hire, where I started learning how to work in the frontend. Aside from the technology lessons there, I was also taught about proper pofressionlism within the work place.</p>
        <p>While I work, one of my biggest points to hit deal with accessibility, and making sure the project can be used by everyone. </p>
        <p> One of my proudest strong points is that im persistent when it comes to figuring out a solution to the problem in front of me.</p>
    </div>

    <div class="skills-container">
        <div class="tech-skills-container">
            <h3>Technical skills</h3>
            <ul>
                <li>- HTML5 -</li>
                <li>- CSS3 -</li>
                <li>- JavaScript -</li>
                <li>- AngularJs -</li>
                <li>- ReactJs -</li>
                <li>- Kotlin -</li>
            </ul>
        </div>
    
        <div class="prof-skills-container">
            <h3>Professional skills</h3>
            <ul>
                <li>- Agile -</li>
                <li>- Time Management -</li>
                <li>- Public Speaking -</li>
                <li>- Communication -</li>
            </ul>
        </div>
    </div>

    <!-- <button id="resume_download">Resume Download</button> -->

</div>
