<div class="about-page-container">
    <h2>About Me</h2>
    <p>I am a UI engineer based in The United States. I graduated from a coding academy called Road to Hire, where I started learning how to work in the frontend. Aside from the technology lessons there, I was also taught about proper pofressionlism within the work place. While I work, one of my biggest points to hit deal with accessibility, and making sure the project can be used by everyone. One of my proudest strong points is that im persistent when it comes to figuring out a solution to the problem in front of me.</p>

    <div>
        <h3>Technical skills include:</h3>
        <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>AngularJs</li>
            <li>ReactJs</li>
            <li>Kotlin</li>
        </ul>
    </div>

    <div>
        <h3>Professional skills include:</h3>
        <ul>
            <li>Agile</li>
            <li>Time Management</li>
            <li>Public Speaking</li>
            <li>Communication</li>
        </ul>
    </div>

</div>
