<div id="about_me_page" class="about-page-container">
    <h2 id="about_me_title">About Me</h2>
    <p id="about_me_description">I am a UI engineer based in The United States. I graduated from a coding academy called Road to Hire, where I started learning how to work in the frontend. Aside from the technology lessons there, I was also taught about proper pofressionlism within the work place. While I work, one of my biggest points to hit deal with accessibility, and making sure the project can be used by everyone. One of my proudest strong points is that im persistent when it comes to figuring out a solution to the problem in front of me.</p>

    <div class="tech-skills-container">
        <h3>Technical skills include:</h3>
        <div class="skill-list">
            <ul>
                <li>HTML5 -&nbsp;</li>
                <li>CSS3 -&nbsp;</li>
                <li>JavaScript -&nbsp;</li>
                <li>AngularJs -&nbsp;</li>
                <li>ReactJs -&nbsp;</li>
                <li>Kotlin</li>
            </ul>
        </div>
    </div>

    <div class="prof-skills-container">
        <h3>Professional skills include:</h3>
        <div class="skill-list">
            <ul>
                <li>Agile -&nbsp;</li>
                <li>Time Management -&nbsp;</li>
                <li>Public Speaking -&nbsp;</li>
                <li>Communication</li>
            </ul>
        </div>
    </div>

    <button id="resume_download">Resume Download</button>

</div>
