<div id="contact_page" class="contact-page-container">
    <h2 id="contact_title">Contact</h2>
    
    <div id="email_me">
        <p>Feel free to email me at n.conaway00@gmail.com, or click the email button below.</p>
        <a href="mailto: n.conaway00@gmail.com" id="email_link">Email Me</a>
    </div>

    <div id="extra_links">
        <a href="https://www.linkedin.com/in/nicolas-conaway/" target="_blank"
        rel="noopener noreferrer">LinkedIn</a>
        <a href="./assets/files/ResumeNC.pdf" target="_blank"
        rel="noopener noreferrer">View Resume</a>
        <a href="https://github.com/NicolasConaway" target="_blank"
        rel="noopener noreferrer">GitHub</a>
    </div>
 </div>
 
